body {
  color: blue;
  font-size: 30px;
  /*background-color: peachpuff; this is the comment tag */
  background-color: yellow;

}

h1 {
  color: black;
}

p{
  text-align: right;
}
.first-group {
  color: red;
}

.second-group{
  color: green;
}

#important {
  font-size: 40px;
  color: orange;
  text-align: center;
}

img.resize-1 {
  max-width:30%;
  max-height:30%;
}
